<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "pages_index", :media => "all" %>
    <title>Muscle form checker</title>
  </head>
  <body>
    <header>
      <div class="header-wrap">
        <!-- <a class="hdr-icon-home" href="#"></a> -->
        <h1>Muscle form checker</h1>
        <!-- <a class="hdr-icon-menu" href="#"></a> -->
      </div>
    </header>

    <!-- コンテンツ -->
    <div class="container">
      <!-- ナブバー -->
      <div class="nav">
        <a href="#">ホーム</a>
        <a href="#">トレーニング</a>
        <a href="#">スコア</a>
      </div>
      <div class="mv">
      </div>

      <!-- トレーニングメニュー -->
      <div class="conts">
        <p class="topic">トレーニングメニュー</p>
        <div class="menuList">
          <ul>
            <li><a href="#" class="menuList-close">腕立て伏せ</a></li>
            <li><a href="#" class="menuList-close">腕立て伏せ</a></li>
            <li>
              <div class="menuList-open">
                <a href="#" class="menuList-open-title">腕立て伏せ</a>
                <div class="movebox"></div>
                <p class="txt">ここにトレーニングの説明が入ります。腕立てだったら曲げてねとか顔は1m先を見てねとか。あと10回3セットとか。3、4行の説明がいいのかなあ。あああああああ</p>
                <%= render 'form', training_record: @training_record %>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
