<%= stylesheet_link_tag "training_records_new", :media => "all" %>

<h1>New Training Record</h1>

<%= render 'form', training_record: @training_record %>

<%= link_to 'Back', training_records_path %>
